@model EventWorld.Models.Event

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="panel-body">

    <h2>Details</h2>

    <h3>@Model.Title</h3>

    <div id="album-details">
    
        <p>
            Available Tickets:
            @String.Format("{0:F}", Model.AvailableTickets)
        </p>
        @Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = Model.EventId }, new { @class = "btn btn-primary" })
    </div>

</div>
